.container {
  max-width: 42rem; /* max-w-2xl */
  margin-left: auto; /* mx-auto (left and right) */
  margin-right: auto; /* mx-auto (left and right) */
}

.loadingText {
  padding-top: 2.5rem; /* py-10 */
  padding-bottom: 2.5rem; /* py-10 */
  color: #9ca3af; /* text-gray-400 */
  text-align: center; /* text-center */
}

.noMoreText {
  padding-top: 2.5rem; /* py-10 */
  padding-bottom: 2.5rem; /* py-10 */
  color: #9ca3af; /* text-gray-400 */
  text-align: center; /* text-center */
}
