.footerContainer {
  padding: 2.5rem; /* p-10 */
  height: 20rem; /* h-80 */
  border: 1px solid; /* border */
  border-top: 1px solid; /* border-t */
  border-color: #e5e7eb; /* border-gray-200 */
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */
  z-index: 10; /* z-10 */
}

.logoContainer {
  margin-bottom: 2.5rem; /* mb-10 */
}

.linksContainer {
  margin-bottom: 2.5rem; /* mb-10 */
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  align-items: center; /* items-center */
}

.link {
  display: flex; /* flex */
  align-items: center; /* items-center */
}

.linkItem {
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem; /* px-3 */
  padding-top: 0.25rem; /* py-1 */
  padding-bottom: 0.25rem; /* py-1 */
  text-decoration: none; /* default link */
}

.linkItem:hover {
  text-decoration: underline; /* hover:underline */
}
