.menuContainer {
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
}

.linkButton {
  font-weight: 700; /* font-bold */
  border-radius: 9999px; /* rounded-full */
}

.modalOverlay {
  position: fixed; /* fixed */
  top: 50%; /* top-1/2 */
  left: 50%; /* left-1/2 */
  transform: translate(-50%, -50%); /* -translate-x-1/2, -translate-y-1/2 */
  background-color: rgba(0, 0, 0, 0.5); /* bg-black bg-opacity-50 */
  width: 100%; /* w-full */
  height: 100%; /* h-full */
  z-index: 20; /* z-20 */
}

.modalContent {
  position: fixed; /* fixed */
  top: 50%; /* top-1/2 */
  left: 50%; /* left-1/2 */
  transform: translate(-50%, -50%); /* -translate-x-1/2, -translate-y-1/2 */
  background-color: #f3f4f6; /* bg-gray-100 */
  width: 30rem; /* w-120 */
  min-height: 12rem; /* min-h-48 */
  padding: 1.25rem; /* p-5 */
  border-radius: 0.25rem; /* rounded */
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  align-items: flex-start; /* items-start */
  z-index: 20; /* z-20 */
  max-width: 92%; /* max-w-[92%] */
  margin-left: auto; /* mx-auto (left and right) */
  margin-right: auto; /* mx-auto (left and right) */
}

.modalHeader {
  width: 100%; /* w-full */
  color: #374151; /* text-gray-700 */
  margin-bottom: 1.25rem; /* mb-5 */
}

.modalTitle {
  margin-bottom: 1.25rem; /* mb-5 */
  border-bottom: 1px solid #d1d5db; /* border-b border-gray-300 */
}

.modalMessage {
  font-size: 0.875rem; /* text-sm */
  line-height: 1.25rem; /* line-height for text-sm */
}

.modalFooter {
  width: 100%; /* w-full */
  margin-top: auto; /* mt-auto */
  display: flex; /* flex */
  gap: 1.5rem; /* gap-6 */
  justify-content: flex-end; /* justify-end */
}
