.container {
  margin-left: auto; /* mx-auto (left and right) */
  margin-right: auto; /* mx-auto (left and right) */
  max-width: 30rem; /* max-w-120 */
}

.formContainer {
  margin-bottom: 2.5rem; /* mb-10 */
  border: 1px solid; /* border */
  border-color: #e5e7eb; /* border-gray-200 */
  padding: 1.75rem; /* p-7 */
  border-radius: 0.5rem; /* rounded-lg */
}
