.spinner {
  color: #ffffff; /* text-white */
  border-radius: 0.5rem; /* rounded-lg */
}

.sizeSm {
  height: 1.25rem; /* h-5 */
  width: 1.25rem; /* w-5 */
}

.sizeMd {
  height: 1.5rem; /* h-6 */
  width: 1.5rem; /* w-6 */
}

.sizeLg {
  height: 1.75rem; /* h-7 */
  width: 1.75rem; /* w-7 */
}

.sizeIcon {
  height: 2rem; /* h-8 */
  width: 2rem; /* w-8 */
}

.hiddenChildren {
  height: 0; /* h-0 */
  opacity: 0; /* opacity-0 */
}

.spinnerBase {
  animation: spin 1s linear infinite; /* animate-spin */
  border-radius: 9999px !important; /* !rounded-full */
  border-top-color: transparent !important; /* !border-t-transparent */
  border-width: 2px; /* border-2 */
  border-color: #ffffff; /* border-white */
  margin-left: auto; /* mx-auto (left and right) */
  margin-right: auto; /* mx-auto (left and right) */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
