.flexLabelContainer {
  display: flex; /* flex */
  justify-content: space-between; /* justify-between */
  color: #6b7280; /* text-gray-500 */
}

.label {
  color: #6b7280; /* text-gray-500 */
}

.textarea {
  border: 1px solid; /* border */
  border-color: #e5e7eb; /* border-gray-200 */
  border-radius: 0.25rem; /* rounded */
  width: 100%; /* w-full */
  height: 8rem; /* h-32 */
  padding: 0.5rem; /* p-2 */
}

.errorText {
  height: 1.25rem; /* h-5 */
  font-size: 0.75rem; /* text-xs */
  line-height: 1rem; /* line-height for text-xs */
  color: #ef4444; /* text-red-500 */
}

.overLimit {
  color: #ef4444; /* text-red-500 */
}

.buttonContainer {
  text-align: right; /* text-right */
}
